<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3MUSKETHIR</title>
    <link rel="stylesheet" href="{{url_for('static', filename='frontend/style.css')}}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<!-- src="{{url_for('static', filename='Image/no_image.jpg')}} -->

<body>
    <div class="header">
        <img src="{{url_for('static', filename='frontend/logo.png')}}">
    </div>
    <div class=" container-text">
        <h1>IMAGE COMPRESSION<span>.</span></h1>
        <h2>This website using SVD for image compression.</h2>
        <div class="input-compression">
            <h3>image compression rate</h3>
            <!-- <form action="submit"> -->
            <!-- <input type="number" name="compression-rate">  Get compression value from here -->
            <!-- <input id="default-btn" type="file" hidden> -->
            <!-- </form> -->
            <form method="post" action="/" enctype="multipart/form-data">
                <input type="number" name="compression-rate" min="1" max="100" required>
                <input id=default-btn type="file" name="file" class="form-control" autocomplete="off" required hidden>
                <input id=submit-btn type="submit" value="Submit" class="btn btn-info" hidden>
            </form>
            <h3>%</h3>
        </div>
    </div>
    <div class="image-compression">
        <div class="container-image">
            <div class="imagetime">
                <h1>BEFORE</h1>
            </div>
            <!-- <form method="post" action="/" enctype="multipart/form-data">
                <input type="number" name="compression-rate"> -->
            <div class="container-input">
                <div class="wrapper">
                    <div class="image">
                        {% if filename %}
                        <img class="image-before" src="{{ url_for('display_image', filename=filename) }}" alt="">
                        <!-- <div>
                            <img src="{{ url_for('display_image', filename=filename) }}">
                        </div> -->
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="text">No file choosen, yet</div>
                    </div>
                    <div id="cancel-btn"><i class="fas fa-times"></i></div>
                    <div class="filename">file name here</div>
                </div>
                <button onclick="defaultBtnActivate()" id="custom-btn">choose a file</button>
            </div>
            <!-- <input type="file" name="file" class="form-control" autocomplete="off" required>
                <input type="submit" value="Submit" class="btn btn-info">
            </form> -->
        </div>
        <div class="container-button">
            <button onclick="submitBtnActivate()" id="submit-btn">COMPRESS</button>
        </div>
        <div class="container-image">
            {% if compressed %}
            <div class="imagetime">
                <h1>AFTER</h1>
            </div>
            <div class="container-input">
                <div class="wrapper">
                    <div class="image">
                        <img src="{{ url_for('display_image', filename=compressed) }}" alt="">
                    </div>
                    <a href="{{ url_for('download_file', filename=compressed) }}" id="download-btn">DOWNLOAD
                        HERE</a>
                    <!-- <button onclick="{{url_for}}" id="custom-btn">Download</button> -->
                </div>
                <button onclick="downloadBtnActivate()" id="custom-btn">Download</button>
            </div>
            <!-- <form method="get" action="/" enctype="multipart/form-data">
                <input id=submit-btn type="submit" value="Reload">
            </form> -->
            {% endif %}
        </div>
    </div>

    <!-- {% if compressed %}
        <div>
            <img src="{{ url_for('display_image', filename=compressed) }}">
        </div>
    {% endif %} -->
    <div class="container-text2">
        {% if pixel %}
            <h2>image pixel difference percentage: {{100 - pixel}}%</h2>
        {% endif %}
        {% if waktu %}
            <h2>image compression time: {{ waktu }} seconds</h2>
        {% endif %}

    </div>

    <div class="footer">
        <h4>Made by Hafidz, Mahesa, and Gery</h4>
    </div>


    <!---------------------- SCRIPT  ------------>
    <script>
        const wrapper = document.querySelector(".wrapper");
        const image = document.querySelector(".image-before");
        const fileName = document.querySelector(".filename");
        const defaultBtn = document.querySelector("#default-btn");
        const cancelBtn = document.querySelector("#cancel-btn");
        const submitBtn = document.querySelector("#submit-btn")
        const customBtn = document.querySelector("#custom-btn");
        const img = document.querySelector(".image img");
        const downloadBtn = document.querySelector("#download-btn");
        let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
        function defaultBtnActivate() {
            defaultBtn.click();
        }
        function downloadBtnActivate() {
            downloadBtn.click();
        }
        function submitBtnActivate() {
            submitBtn.click();
        }
        defaultBtn.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result;
                    img.src = result;
                    wrapper.classList.add("activate");
                    image.classList.add("activate");
                }
                cancelBtn.addEventListener("click", function () {
                    img.src = "";
                    image.classList.remove("activate");
                    wrapper.classList.remove("activate");
                });
                reader.readAsDataURL(file);
            }
            if (this.value) {
                let valueStore = this.value.match(regExp);
                fileName.textContent = valueStore;
            }
        });
    </script>
</body>

</html>